{#
/**
 * @file permanent_entity.html.twig
 * Default theme implementation to display a permanent entity.
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 * - content: All permanent items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - entity: The permanent entitiy instance.
 *
 * @see template_preprocess_permanent_entity()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'permanent-entity',
  'permanent-entity--view-mode-' ~ elements['#view_mode']|clean_class,
  'permanent-entity--type-' ~ entity.bundle|clean_class,
  'permanent-entity--id-' ~ entity.id.value|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
